.arena___root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('../../resources/arena.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.arena___battlefield {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}

.arena___right-fighter img {
  transform: scaleX(-1);
}

.arena___fighter {
  position: relative;
}

.arena___fighter img {
  height: 480px;
}

.arena___fight-status {
  display: flex;
  margin: 30px;
  justify-content: center;
}

.arena___fighter-name {
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  font-size: 30px;
  font-family: 'PressStart2P';
  background: #b7deed;
  background: linear-gradient(to top, #b7deed 0%, #71ceef 25%, #21b4e2 75%, #b7deed 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arena___fighter-indicator {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 30px;
}

.arena___health-indicator {
  width: 100%;
  height: 25px;
  border: 2px solid;
  border-radius: 5px;
  margin: 0 10px;
  overflow: hidden;
}

.arena___health-bar {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #ebd759;
}

.arena___health-bar-red {
  height: 100%;
  width: 100%;
  position: relative;
  top: -100%;
  background-color: red;
}

.fighter___hit {
  filter: brightness(0) invert(1);
}

.fighter___block {
  filter: grayscale(75%);
}

.fighter___blocked {
  filter: grayscale(100%) sepia(100%) hue-rotate(90deg);
}

.fighter___crit {
  filter: sepia(100%) hue-rotate(190deg) saturate(900%);
}
