:root {
  --fighter-count: 6;
  --fighter-mini-list-margin: 40px;
  --fighter-mini-size: 150px;
  --fighter-mini-margin: 10px;
  --fighter-mini-border: 5px;
  --fighter-mini-complete: calc(var(--fighter-mini-size) + (var(--fighter-mini-margin) + var(--fighter-mini-border)) * 2);
  --app-min-width: calc(var(--fighter-mini-complete) * 6 + var(--fighter-mini-list-margin) * 2);
}
